@import url('https://fonts.googleapis.com/css?family=Muli|Slabo+27px&display=swap');

h3.logo-footer{
    margin-top: 1px;
    color: #fff;
}


.footer-basic-centered {
    background-color: #292c2f;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: center;
    font: normal 18px sans-serif;
    padding: 45px;
    /*margin-top: 80px;*/
    margin-top: 50px;
}

.footer-basic-centered .footer-company-motto {
    color: #fff;
    font-size: 24px;
    margin: 0;
    padding-bottom: 25px;
}

.footer-basic-centered .footer-derechos {
    color: #8f9296;
    font-size: 14px;
    margin: 0;
}

.logocarro{
    height: 25px;
    width: 25px;
}

.logo {
    height: 80px;
    padding: 10px 0;
}

.tomatoma {
    flex-direction: column;
    align-items: center
}

.barra{
    border-right: 1px solid grey;
}

.imagenNutricion {
    height: 450px;
}
.body{
    background: #f7f7f7;
    font-family: 'Muli', sans-serif;
    text-align: center !important;
}
.pasoRedondo {
    position: absolute;
    top: -80px;
    width: 120px;
    height: 120px;
    background-color: #57b6b2;
    border-radius: 60px;
    padding-top: 25px;
    font-size: 18px;
    color: #fff;
    transform: translate(-50%);
}

.number{
    font-size: 60px;
    line-height: 60px
}

.producto {
    width: 90%;
    margin: auto;
    min-height: 757px;
    box-shadow: 0 0 8px 0 rgba(35, 5, 5, 0.36);
    opacity: 1.9;
    padding: 30px;
    color: #003e52;
    margin-top: 100px;
    margin-bottom: 80px;
    position: relative;
}

.textoNutrucion {
    border-bottom: 2px solid #003e52;
    color: #003e52;
    font-family: 'Slabo 27px' !important;
    font-size: 40px;
    margin-bottom: 10px;
    letter-spacing: -2px;
}

.textoNutrucion2{
    color: #003e52;
    font-size: 16px;
    font-family: 'Muli' !important;
}

.textoArticulos{
    color: #003e52;
    font-size: 18px;
    text-align: center;
    font-family: 'Muli', sans-serif !important;
    letter-spacing: -1;
}

.textoColaborador{
    color: #212529;
    font-size: 18px;
    text-align: center;
    font-family: 'Muli', sans-serif !important;
    letter-spacing: -1;
}



.texto{
    font-family: 'Slabo 27px', serif;
}

.textoDescripcion{
    font-family: 'Muli' !important;
    font-size: 16px;
    color: #003e52;
}

.headerNutricion{
    margin-bottom: 80px;
}

.boton{
    width: 250px; 
    height: 50px; 
    background-color: #c2e76b;
    border-radius: 70px;
    padding: 20px;
    font-size: 18px;
    color: #003e52;
    padding-left: 20px;
    padding-right: 20px;
    line-height: 13px;
    border: 0;
    font-family: 'Muli' !important;
}


.colaboradores {
    background-color: #fff;
    padding-top: 20px;
    padding-bottom: 30px;
    text-align: center;
    align-content: center;
    margin-top: 20px;
}

.boton2{
    width: 150px; 
    height: 50px; 
    background-color: #57b6b2;
    border-radius: 70px;
    padding: 20px;
    font-size: 18px;
    color: #fff;
    padding-left: 20px;
    padding-right: 20px;
    align-content: center;
    align-items: center;
    line-height: 13px;
    border: 0;
}

.newslater{
    letter-spacing: normal;
    font-weight: 400!important;
    color: #003e52;
    font-family: 'Slabo 27px';
    font-size: 20px;
}

.fondoSobre{
    background-image:  url(/imagen/newsletter-envelope-icon.a24ac449379018f7633e.svg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 20px;
    height: auto;
}

.colorin{
    color: #57b6b2!important;
    cursor: pointer;
    text-decoration: none;
}

.email{
    border: none;
    background-color: transparent;
    border-bottom: 2px solid #003e52;
    border-radius: 0;
    padding: 0;
    height: 30px;
    width: 290px;
}

/* .radio{
    position: absolute;
    height: 16px;
    width: 16px;
    border-color:#f8204f;
    border-style:solid;
    border-width:2px;
     border-radius: 50%;
} */

/* The radiocuerpo */
.radiocuerpo {
    display: block;
    position: relative;
    padding-left: 60px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default radio button */
  .radiocuerpo input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  
  /* Create a custom radio button */
  .checkmark {
    position: absolute;
    top: 8px;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #84a2ab;
    border-radius: 50%;
    opacity: 2.2;
  }
  
  /* On mouse-over, add a grey background color */
  .radiocuerpo:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the radio button is checked, add a blue background */
  .radiocuerpo input:checked ~ .checkmark {
    background-color: #57b6b2;
  }
  
  /* Create the indicator (the dot/circle - hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the indicator (dot/circle) when checked */
  .radiocuerpo input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the indicator (dot/circle) */
  .radiocuerpo .checkmark:after {
      top: 9px;
      left: 9px;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background: #84a2ab;
  }

.condiciones{
    padding-left: 25px;
}

footer {
    background-color: #003e52;
    color: #84a2ab;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    align-content: center;
    align-items: center;
    z-index: -9999;
}

footer > ul > li{
    list-style: none;
}

.cosa{
    list-style: none;
    font-family: 'Muli';
    font-size: 14px;
    margin-top: 30px;
}

.forma{
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.forma2{
    padding-right: 20px;
    padding-left: 20px;
    margin-right: auto;
    margin-left: auto;
}
.logofooter {
    height: 55px;
    margin-right: 13px;
}



.flecha{
    color: #fff;
    display: inline-block;
    text-align: center;
    font-size: 34px;
    line-height: 47px;
    cursor: pointer;
    background-color: #57b6b2;
    border: 1px solid #fff;
    border-radius: 50%;
    width: 51px;
    height: 51px;
    float: right;
    margin-bottom: 170px;
}

@media (min-width: 500px){
    .logofooter{
        margin-bottom: 10px;
        text-align: center;
        align-content: center;
        justify-content: center
    }
    .footer{
        margin-bottom: 500px;
    }

    .boton{
        text-align: center;
    }
}

@media (max-width: 767px) {

    .boton{
        text-align: center;
    }

    .producto {
        min-height: 060px;
    }

    .logofooter{
        margin-bottom: 10px;
        text-align: center;
        align-content: center;
        justify-content: center;
        align-items: center;
    }

    
}