h3.logo-footer{
    margin-top: 1px;
    color: #fff;
}


.footer-basic-centered {
    background-color: #292c2f;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: center;
    font: normal 18px sans-serif;
    padding: 45px;
    /*margin-top: 80px;*/
    margin-top: 50px;
}

.footer-basic-centered .footer-company-motto {
    color: #fff;
    font-size: 24px;
    margin: 0;
    padding-bottom: 25px;
}

.footer-basic-centered .footer-derechos {
    color: #8f9296;
    font-size: 14px;
    margin: 0;
}

.logocarro{
    height: 25px;
    width: 25px;
}

.logo {
    height: 80px;
    padding: 10px 0;
}

.tomatoma {
    flex-direction: column;
    align-items: center
}

.barra{
    border-right: 1px solid grey;
}

.imagenNutricion {
    height: 450px;
}
.body{
    text-align: center !important;
}
.pasoRedondo {
    position: absolute;
    top: -80px;
    width: 120px;
    height: 120px;
    background-color: #57b6b2;
    border-radius: 60px;
    padding-top: 25px;
    font-size: 18px;
    color: #fff;
    transform: translate(-50%);
}

.number{
    font-size: 60px;
    line-height: 60px
}

.producto {
    width: 90%;
    margin: auto;
    min-height: 757px;
    box-shadow: 0 0 8px 0 rgba(35, 5, 5, 0.36);
    opacity: 1.9;
    padding: 30px;
    color: #003e52;
    margin-top: 100px;
    margin-bottom: 80px;
    position: relative;
}

.textoNutrucion {
    border-bottom: 2px solid #003e52;
    color: #003e52;
    font-size: 40px;
    margin-bottom: 10px;
}

.textoNutrucion2{
    color: #003e52;
    font-size: 16px;
}

.textoArticulos{
    color: #003e52;
    font-size: 18px;
    text-align: center;
    border-top: 2px solid #cdd9dd;

}

.headerNutricion{
    margin-bottom: 80px;
}

.boton{
    width: 250px; 
    height: 50px; 
    background-color: #c2e76b;
    border-radius: 70px;
    padding: 20px;
    font-size: 18px;
    color: #003e52;
    padding-left: 20px;
    padding-right: 20px;
    line-height: 13px;
    border: 0;
}


.colaboradores {
    background-color: #fff;
    padding-top: 20px;
    padding-bottom: 30px;
    text-align: center;
    align-content: center;
    margin-top: 20px;
}

.boton2{
    width: 150px; 
    height: 50px; 
    background-color: #57b6b2;
    border-radius: 70px;
    padding: 20px;
    font-size: 18px;
    color: #fff;
    padding-left: 20px;
    padding-right: 20px;
    align-content: center;
    align-items: center;
    line-height: 13px;
    border: 0;
}

.fondoSobre{
    background-image:  url(/imagen/newsletter-envelope-icon.a24ac449379018f7633e.svg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 20px;
    height: auto;
}

@media (max-width: 767px) {
    .producto {
        min-height: 500px;
    }
}